*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:linear-gradient(135deg,#4facfe,#00f2fe);
padding:40px;
}

.container{

display:flex;

max-width:1100px;

margin:auto;

background:white;

border-radius:20px;

overflow:hidden;

box-shadow:0 20px 40px rgba(0,0,0,.3);

}

.left{

width:35%;

background:linear-gradient(180deg,#6a11cb,#2575fc);

color:white;

padding:30px;

text-align:center;

}

.profile{

width:170px;

height:170px;

border-radius:50%;

border:6px solid white;

margin-bottom:20px;

}

.job{

font-size:20px;

margin-bottom:25px;

color:#ffe082;

}

.box{

margin-top:30px;

text-align:left;

}

.box h2{

margin-bottom:15px;

color:#ffd54f;

}

.box p{

margin:10px 0;

}

.right{

width:65%;

padding:40px;

background:#fafafa;

}

section{

margin-bottom:30px;

}

section h2{

color:#2575fc;

margin-bottom:15px;

border-left:6px solid #6a11cb;

padding-left:10px;

}

.card{

background:white;

padding:20px;

border-radius:15px;

margin-bottom:15px;

box-shadow:0 5px 15px rgba(0,0,0,.1);

transition:.4s;

}

.card:hover{

transform:translateY(-5px);

}

.skill{

margin-bottom:15px;

}

.skill div{

background:#ddd;

height:10px;

border-radius:20px;

margin-top:5px;

}

.skill div div{

height:10px;

background:linear-gradient(90deg,#ff9800,#ffeb3b);

border-radius:20px;

}